.hero, .footer {
  background-color: #1F2937;
}

.hero {

}

.hero a, .content .subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.hero a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 200px;
}

.header p {
  font-size: 24px;
  color: #F9FAF8;
}

.content {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 60px;
}

.left {
  width: 300px;
}

.content .title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

p .subtext {
  text-align: left;
}

.content img {
  width: 200px;
}