.hero, .footer {
  background-color: #1F2937;
}

.hero {

}

.hero a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-size: 24px;
  color: #F9FAF8;
}

.content {
  display: flex;
  justify-content: center;
}

.content .title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.content img {
  width: 200px;
}